@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
}


header{
    @include Flex(column);
    
    background-image: url('../Pictures/ProjectBackground1-mobile.png');
    background-repeat: no-repeat;
    height: 65vh;
    width: 100vw;
    #project-top{
        @include Flex(column);
        justify-content: space-evenly;
        align-items: center;
        height: 45vh;
        width: 100vw;
        margin-top: 8vh;
        h1{
            font-size: 3.5rem;
            // margin-left: 10vw;
        }
        p{
            font-size: 1.5rem;
            width: 80vw;
            text-align: center;
        }
    }
}

#myProjects{
    height: 20vh;
    h2{
        margin-left:10vw;
        
    }
    hr{
        width:80vw;
        border-color:#D09A49;
        margin-bottom:4vh;
        
    }
}

//Project 1
#project{
    @include Flex(column-reverse);
    margin-top:30vh;
    width:100vw;
    height: 100vw;
    
   
    #projectRow{
        @include Flex(column);
        justify-content: space-evenly;
        align-items: center;
        width:100vw;
        height:100vw;
    }
    #projectInfo{
        @include Flex(column);
        justify-content: space-evenly;
        justify-content: center;
        margin-top:5vh;
        h1{
            font-size: 2em;
            margin: 0;
            margin-bottom:5vh;
            text-align: center;
        }
        p{
            font-size: 1em;
            width:90vw;
            margin-bottom:5vh;
            text-align: center;
        }
    }
    #projectLanguages{
        @include Flex(row);
        justify-content: space-between;
        font-size: 1.2em;
        width:80vw;
        margin-bottom:5vh;
        margin-left:4vw;

        
        .centerR{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 22vw;
        }
        .centerC{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 18vw;
        }
        .centerH{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 23vw;
        }
    }
    #projectLinks{
        @include Flex(row);
        justify-content: space-evenly;
        width:90vw;
        margin-bottom:5vh;
        
        .MuiButton-root{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 40vw;
            border-color: #D09A49;
            color: black;
            text-decoration: none;
            .liveButton{
                border-color: #D09A49;
                color: black;
                width: 38vw;
                justify-content: space-around
            }
            .gitButton{
                border-color: #D09A49;
                color: black;
                width: 38vw;
                justify-content: space-around
            }
        }
    }
    .picture{
        @include Flex(column);
        justify-content: center;
        align-items: center;
        margin-top: 10vw;
        margin-bottom: 10vw;
        
        img{
            width: 90vw;
            border-radius: 2%;
        }
    }
    
}

//Project 2
#project2{
    @include Flex(column-reverse);
    margin-top:45vh;
    width:100vw;
    height: 100vw;
    
   
    #projectRow2{
        @include Flex(column);
        justify-content: space-evenly;
        align-items: center;
        width:100vw;
        height:100vw;
    }
    #projectInfo2{
        @include Flex(column);
        justify-content: space-evenly;
        justify-content: center;
        margin-top:5vh;
        h1{
            font-size: 2em;
            margin: 0;
            margin-bottom:5vh;
            text-align: center;
        }
        p{
            font-size: 1em;
            width:90vw;
            margin-bottom:5vh;
            text-align: center;
        }
    }
    #projectLanguages2{
        @include Flex(row);
        justify-content: space-between;
        font-size: 1.2em;
        width:80vw;
        margin-bottom:5vh;
        margin-left:4vw;

        
        .centerR{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 22vw;
        }
        .centerC{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 18vw;
        }
        .centerH{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 23vw;
        }
    }
    #projectLinks2{
        @include Flex(row);
        justify-content: space-evenly;
        width:90vw;
        margin-bottom:5vh;
        
        .MuiButton-root{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 40vw;
            border-color: #D09A49;
            color: black;
            text-decoration: none;
            .liveButton{
                border-color: #D09A49;
                color: black;
                width: 38vw;
                justify-content: space-around
            }
            .gitButton{
                border-color: #D09A49;
                color: black;
                width: 38vw;
                justify-content: space-around
            }
        }
    }
    .picture{
        @include Flex(column);
        justify-content: center;
        align-items: center;
        margin-top: 10vw;
        margin-bottom: 10vw;
        
        img{
            width: 90vw;
            border-radius: 2%;
        }
    }
    
}

//Project 3
#project3{
    @include Flex(column-reverse);
    margin-top:45vh;
    width:100vw;
    height: 100vw;
    margin-bottom: 8vh;
    
   
    #projectRow3{
        @include Flex(column);
        justify-content: space-evenly;
        align-items: center;
        width:100vw;
        height:100vw;
    }
    #projectInfo3{
        @include Flex(column);
        justify-content: space-evenly;
        justify-content: center;
        margin-top:5vh;
        h1{
            font-size: 2em;
            margin: 0;
            margin-bottom:5vh;
            text-align: center;
        }
        p{
            font-size: 1em;
            width:90vw;
            margin-bottom:5vh;
            text-align: center;
        }
    }
    #projectLanguages3{
        @include Flex(row);
        justify-content: space-between;
        font-size: 1.2em;
        width:80vw;
        margin-bottom:5vh;
        margin-left:4vw;

        
        .centerR{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 22vw;
        }
        .centerC{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 18vw;
        }
        .centerH{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 23vw;
        }
    }
    #projectLinks3{
        @include Flex(row);
        justify-content: space-evenly;
        width:90vw;
        margin-bottom:5vh;
        
        .MuiButton-root{
            @include Flex(row);
            align-items: center;
            justify-content: space-around;
            width: 40vw;
            border-color: #D09A49;
            color: black;
            text-decoration: none;
            .liveButton{
                border-color: #D09A49;
                color: black;
                width: 38vw;
                justify-content: space-around
            }
            .gitButton{
                border-color: #D09A49;
                color: black;
                width: 38vw;
                justify-content: space-around
            }
        }
    }
    .picture{
        @include Flex(column);
        justify-content: center;
        align-items: center;
        margin-top: 10vw;
        margin-bottom: 10vw;
        
        img{
            width: 90vw;
            border-radius: 2%;
        }
    }
    
}


@media (min-width: 900px) {

    header{
        @include Flex(column);
        
        background-image: url('../Pictures/ProjectBackground1.png');
        background-repeat: no-repeat;
        height: 70vh;
        width: 100vw;
        #project-top{
            @include Flex(column);
            justify-content: space-evenly;
            align-items: flex-start;
            height: 45vh;
            width: 100vw;
            margin: 5vh;
            h1{
                font-size: 4rem;
                margin-left: 10vw;
            }
            p{
                font-size: 1.5rem;
                width: 80vw;
                text-align: center;
                width: 40vw;
            }
        }
    }

    #myProjects{
        height: 0vh;
        h2{
            margin-left:10vw;
            
            
        }
        hr{
            width:80vw;
            border-color:#D09A49;
            margin-bottom:3vh;
            
        }
    }

    //Project 1
    #project{
        @include Flex(row);
        align-items: center;
        width:100vw;
        height: 15vw;
        margin-top: 20vh;
        
        h2{
            margin-left:10vw;
        }
        hr{
            width:85vw;
            border-color:#D09A49;
            margin-bottom:8vh;
        }
        #projectRow{
            @include Flex(row);
            justify-content: space-evenly;
            width: 55vw;
            height:25vw;
        }
        #projectInfo{
            @include Flex(column);
            justify-content: space-evenly;
            width:30vw;
            
            
            h1{
                font-size: 3em;
                margin: 0;
                margin-bottom: 2vh;
            }
            p{
                font-size: 1.3em;
                width:30vw;
                margin-bottom: 4vh;
                
            }
        }
        #projectLanguages{
            @include Flex(row);
            justify-content: inherit;
            font-size: 1.2em;
            margin:0;
            width:30vw;
            .centerR{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
            .centerC{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
            .centerH{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
        }
        #projectLinks{
            @include Flex(row);
            justify-content: space-evenly;
            margin-top:2vw;
            width:31vw;
            .MuiButton-root{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 10vw;
                border-color: #D09A49;
                color: black;
                text-decoration: none;
                .projectButton{
                    border-color: #D09A49;
                    color: black;
                    width: 8vw;
                    justify-content: space-around
                }
            }
        }
        .picture{
            @include Flex(column);
            justify-content: center;
            align-items: center;
            img{
                width: 35vw;
                height: 25vw;
                border-radius: 2%;
            }
        }
        
    }
    .picture{
        margin-right: 2vw;
    }

    //Project 2
    #project2{
        @include Flex(row);
        align-items: center;
        width:100vw;
        height: 15vw;
        margin-top: 25vh;
        h2{
            margin-left:10vw;
        }
        hr{
            width:85vw;
            border-color:#D09A49;
            margin-bottom:8vh;
        }
        #projectRow2{
            @include Flex(row);
            justify-content: space-evenly;
            width: 55vw;
            height:25vw;
        }
        #projectInfo2{
            @include Flex(column);
            justify-content: space-evenly;
            width:30vw;
            
            
            h1{
                font-size: 3em;
                margin: 0;
                margin-bottom: 2vh;
            }
            p{
                font-size: 1.3em;
                width:30vw;
                margin-bottom: 4vh;                
            }
        }
        #projectLanguages2{
            @include Flex(row);
            justify-content: inherit;
            font-size: 1.2em;
            margin:0;
            width:30vw;
            .centerR{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
            .centerC{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
            .centerH{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
        }
        #projectLinks2{
            @include Flex(row);
            justify-content: space-evenly;
            margin-top:2vw;
            width:31vw;
            .MuiButton-root{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 10vw;
                border-color: #D09A49;
                color: black;
                text-decoration: none;
                .projectButton{
                    border-color: #D09A49;
                    color: black;
                    width: 8vw;
                    justify-content: space-around
                }
            }
        }
        .picture{
            @include Flex(column);
            justify-content: center;
            align-items: center;
            img{
                width: 35vw;
                height: 25vw;
                border-radius: 2%;
            }
        }
        
    }
    .picture{
        margin-right: 2vw;
    }

    //Project 3
    #project3{
        @include Flex(row);
        align-items: center;
        width:100vw;
        height: 15vw;
        margin-top: 25vh;
        margin-bottom: 15vh;
        
        h2{
            margin-left:10vw;
        }
        hr{
            width:85vw;
            border-color:#D09A49;
            margin-bottom:8vh;
        }
        #projectRow3{
            @include Flex(row);
            justify-content: space-evenly;
            width: 55vw;
            height:25vw;
        }
        #projectInfo3{
            @include Flex(column);
            justify-content: space-evenly;
            width:30vw;
            
            
            h1{
                font-size: 3em;
                margin: 0;
                margin-bottom: 2vh;
            }
            p{
                font-size: 1.3em;
                width:30vw;
                margin-bottom: 4vh;
            }
        }
        #projectLanguages3{
            @include Flex(row);
            justify-content: inherit;
            font-size: 1.2em;
            margin:0;
            width:30vw;
            .centerR{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
            .centerC{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
            .centerH{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 6vw;
            }
        }
        #projectLinks3{
            @include Flex(row);
            justify-content: space-evenly;
            margin-top:2vw;
            width:31vw;
            .MuiButton-root{
                @include Flex(row);
                align-items: center;
                justify-content: space-around;
                width: 10vw;
                border-color: #D09A49;
                color: black;
                text-decoration: none;
                .projectButton{
                    border-color: #D09A49;
                    color: black;
                    width: 8vw;
                    justify-content: space-around
                }
            }
        }
        .picture{
            @include Flex(column);
            justify-content: center;
            align-items: center;
            img{
                width: 35vw;
                height: 25vw;
                border-radius: 2%;
            }
        }
        
    }
    .picture{
        margin-right: 2vw;
    }
}