@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
}


header{
    @include Flex(column);
    
    background-image: url('../Pictures/ProjectBackground1-mobile.png');
    height: 70vh;
    width: 100vw;
    #project-top{
        @include Flex(column);
        justify-content: space-evenly;
        height: 45vh;
        width: 75vw;
        h1{
            font-size: 3.5rem;
            margin-left: 10vw;
        }
        p{
            font-size: 1.5rem;
            width: 70vw;
            text-align: center;
        }
    }
}
#project-1{
    img{
        width:100vw;
        height:40vh;
    }
}

#project-2{
    img{
        width:100vw;
        height:40vh;
    }
}

#project-3{
    img{
        width:100vw;
        height:40vh;
    }
}
@media (min-width: 900px) {





}