#body{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    #text{
        flex-direction: column;
        width: 100vw;
        text-align: center;
        h1{
            width: 90vw;
            margin-left: 4vw;
            text-align: center;
        }
        p{
            width: 90vw;
            margin-left: 4vw;
        }
    }
    #picture{
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 5vh 0 5vh 0;
        
    }
    img{
        width: 85%;
        height: 50%;
    }
}
#contactButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 2vh 0;
    height: 20vh;
    h1{
        margin-bottom:3vh;
    }
    .MuiButton-root{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 40vw;
        border-color: #D09A49;
        color: black;
        text-decoration: none;
    }
}


// for desktop
@media (min-width: 900px) {

    #body{
        display: flex;
        flex-direction: row;
        width: 100vw;
        #text{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            width: 50vw;
            height:60vh;
            margin: 2vh 4vw;
            h1{
                width: 45vw;
                text-align: center;
                margin: 2vh 0;
                font-size: 40px;
            }
            p{
                width: 45vw;
                margin: 2vh 0;
                font-size: 20px;
            }
        }
        #picture{
            display: flex;
            justify-content: center;
            
            
        }
        img{
            width: 32vw;
            height: 55vh;
        }
    }

    #contactButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height:5vw;
        margin-top: 2vw;
        margin-bottom: 10vw;
        h1{
            margin-bottom:3vh;
        }
        .MuiButton-root{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 10vw;
            border-color: #D09A49;
            color: black;
            text-decoration: none;
        }
    }
}